*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: rgb(118, 149, 227);
  --color-headings: black;
  --color-general-text: #999;
  --color-secondary: white;
  --color-tertiary: aliceblue;

  --shadow-small: -1px 17px 10px -15px rgba(0, 0, 0, 0.1);
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "aside header header"
    "aside main main";

  background-color: var(--color-tertiary);
}

.header {
  grid-area: header;
  display: grid;
  gap: 3.2rem;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  background-color: var(--color-secondary);
  padding: 2.4rem 3.2rem;
  box-shadow: var(--shadow-small);
}

.header-search-bar {
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: center;
  gap: 1rem;
}

.header-user-info {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.icon-bell {
  flex-basis: 2.8rem;
  flex-shrink: 0;
}

.user-info-avatar {
  width: 5.4rem;
}

.user-info-name {
  font-weight: bold;
  flex-shrink: 0;
  font-size: 1.8rem;
}

.search-input {
  appearance: none;
  background-color: var(--color-tertiary);
  border: none;
  border-radius: 100rem;
}

.header-greeting {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
}

.heading-primary {
  display: grid;
  grid-template-rows: auto auto;
  font-size: 2.8rem;
}

.heading-primary .heading-primary-subheading {
  font-size: 1.6rem;
}

.header-btns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 1rem;
  align-items: center;
}

.header-btn {
  padding: 1rem 3rem;
  border: none;
  border-radius: 100rem;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  cursor: pointer;
  text-align: center;
}

.side-menu {
  grid-area: aside;
  padding: 2rem;
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.side-menu-heading {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.dashboard-icon {
  width: 5.4rem;
}

.heading-secondary {
  font-size: 3.2rem;
  letter-spacing: 0.1rem;
}

.nav-list {
  list-style-type: none;
  display: grid;
  gap: 2rem;
}

.nav-item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1.8rem;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-item svg {
  margin-left: 1rem;
}

.main {
  padding: 2.4rem 3.2rem;
  grid-area: main;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}

.main-projects {
  grid-area: projects;
}

.project-cards {
  display: grid;
  list-style: none;
  gap: 1.5rem;

  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
}

.project-card {
  border-radius: 10px;
  background-color: var(--color-secondary);
  box-shadow: var(--shadow-small);

  padding: 1.2rem;
}

.main-announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}

img {
  width: 100px;
}
